#root {
    overflow: auto;
}

.zoom {
    zoom: 2;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -webkit-transform-origin: 0 0;
    transform: scale(2); 
    transform-origin: 0 0;
}

.sb {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1vmax;
    float: right;
    padding: 15px;
    margin-right: 1%;
    border-radius: 10px;
    background-color: #00487C;
    color: #FFFFFF;
}

.sb:hover {
    background-color: #1481BA;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #00487C;
    margin-left: 10%;
    margin-bottom: 1%;
}