#table {
    display: flex;
    /* width: 32.5%; */
    width: 40%;
    height: 31vmax;
    float: left;
    text-align: left;
    margin-left: 5%;
}

.mButton {
    font-size: 14px;
}

#pagination {
    /* width: 32.5%; */
    width: 36%;
    float: left;
    margin-right: 50%;
}

#aHeading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #00487C;
}

.th {
    z-index: 0;
}

.sm:hover {
    cursor: pointer;
}